.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.startTime input {
  padding:10px;
  border-radius:10px;
}
button:hover{
  cursor: pointer;
  background-color: darkgreen;
}

.claim button{
  margin-top: 30px;
  font-size: large;
}

.sendFund button{
  margin-left: 12px;
}
.sendFund input {
  padding:10px;
  border-radius:10px;
}

p{
  color: aliceblue;
}
h3{
  color: aliceblue;
}
.viewBal{
  margin-top: 50px;
}
.viewBal input {
  padding:10px;
  border-radius:10px;
}
.endTime input {
  padding:10px;
  border-radius:10px;
}

.launch div{
padding-top: 10px;
}

.launch div label{
  color: #fff;
  font-size: large;
}
button {

  /* usual styles */
  padding:10px;
  border:none;
  background-color:forestgreen;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  /* width:100%; */

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
